<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
</IfModule>

 php_flag magic_quotes_gpc off

 RewriteEngine on
#rder allow,deny
#deny from all

ErrorDocument 403 /index.php
ErrorDocument 404 /index.php


RewriteRule .*admin(.*)\.php?$    admin/index.php?page=$1 [QSA,L]

#RewriteRule ^(.*)\.$  index.php?page=$1 [QSA,L]
RewriteRule ^(.*)\.html?$ index.php?typ=html&page=$1 [QSA,L]
RewriteRule ^(.*)\.php?$  index.php?typ=html&q=$1 [QSA,L]
#RewriteRule ^(.*)\.js?$   index.php?typ=js&q=$1 [QSA,L]
RewriteRule ^(.*)\.json?$ index.php?typ=json&q=$1 [QSA,L]
RewriteRule ^([^.]*)\/(.*)\.^(css|gif|jpg|js)?$    index.php?subdomena=$1&page=$2 [QSA,L]
RewriteRule ^([^.]*)^(admin)\.?$  index.php?typ=html&page=$1 [QSA,L]

